$color-white:rgba(255, 255, 255, 1);
$bg-color-buttons:#4985FF;
$header-color:#323232;
$color-blue:rgba(73, 133, 255, 1);

$xxl-min:1920px;
$xl-max:1919px;
$xl-min:1200px;
$mid-max:1199px;
$mid-min:760px;
$sm-max:767px;

